# prometheus.yml
global:
  scrape_interval: 15s # How frequently to scrape targets.

scrape_configs:
  - job_name: 'cadvisor'
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    static_configs:
      - targets: ['cadvisor:8080']
  
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
